*{
    font-family: monserrat;
}
body{
    background: rgb(255, 255, 255);
}
.section-padding{
    padding: 100px 0;
}
/* NAVBAR */
.navbar-nav a{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;

}
.navbar-light .navbar-brand{
    color:black;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
/* .navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #0000;
} */
.navbar-light.navbar-nav.nav-link{
    color: #0000;

}
.w-100{
    height: 100vh;
}
.service .card-body i{
    font-size: 50px;
}

/* CAROUSEL */

.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    /* color: black; */
    font-weight: 900;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;

}
.carousel-caption p{
    color: rgba(255, 255, 255, 0.685);
    width: 60%;
    margin: auto;
    font-size: 20px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0,7);
    z-index: 1;

}
.about{
    color: aliceblue;
    font-size: 20px;
    background-color: black;
}

/* FOOTER */
.fa{
    padding: 20px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    border-radius: 45px;
     background-color: #454a55;
    color: rgba(255, 255, 255, 0.534); 
    margin-left: 10px;
    margin-top: 30px;
}
.footer ul{
    margin-left: 470px;
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    /* color: aliceblue; */
}
.fa-twitter:hover{
    background-color: #55ACEE;
}
.fa-youtube:hover{
    background-color: #bb0000;
}
.fa-instagram:hover{
    background-color: rgb(170, 69, 173);
    background: #d6249f;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.fa-facebook:hover{
    background-color: #3B5998;
}
.fa-pinterest:hover{
    background-color:  #cb2027;
}
